@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'poppins',sans-serif;
    color: #85859b;
    font-size: 1rem;
    font-weight: 300;
}
.header {
    background: #fff;
    height: 5rem;
    width: 100%;
    border-bottom: solid;
    border-width: 1px;
    border-color: #9fafc9;
    display: flex;                      /* Set up flexbox for the header */
    align-items: center;                /* Vertically center items */
    justify-content: space-between;      /* Space out header elements */
    padding: 10px; 
}
nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 100%;
}
.nav-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    float: left;

}

.nav-1 h1 {
    font-size: 4vh;
    font-weight: 300;
    color: #85859b;
}
/*.row {
    display: flex;                    
    width: 100%;                    
}*/
/*.col-1, .col-4, .col-5, .col-1 {
    display: flex;                      
    align-items: center;                
}*/



/*.logo {
    background: transparent;
    color: #85859b;
    font-family: 'poppins', sans-serif;
    height: 1.5rem;
    
    padding: 0px;
    margin: 0px;
    font-weight: 300;
}*/
#fl-l {
    float: left;
}
#fl-r {
    float: right;
}
#icon {
    font-size: 1.5rem;
    color: #85859b;
    padding: 15px;
    margin: 10px;
    margin-top: 15px;
}
.btn {
    border: none;!important
    margin: 5px;
    padding: 5px;

}
.btn-pro {
    border: none;
    margin:0px;
    padding: 10px;
    top: 15px;
    background-color: #85859b;
    display: flex;
    align-items: right;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.search-bar {
    border: solid;
    border-width: 2px;
    border-color: #85859b;
    width: 100%;
    margin: 10px;
    padding: 10px;
    padding-left:35px ;
    font-size: 1rem;
    border-radius: 90px;
    
}






.sidenav {
    height: 90%;
    width: 260px; /* Set width of the sidebar */
    position: fixed; /* Make it fixed */
    z-index: 1; /* Sit on top of other content */
    background-color: transparent; /* Background color */
    padding-top: 20px; /* Space at the top */
    border-right: solid;
    border-color: #85859b;
    border-width: 1px;
    overflow-y: auto;
    transition: right 0.3 ease;
    opacity: 1;          /* Fully visible */
    visibility: visible;  /* Ensure it is visible */
    transition: width 0.3s ease, opacity 0.3s ease; 
}
.sidenav.hidden {
    width: 0;            /* Collapse the width */
    opacity: 0;          /* Fade out */
    visibility: hidden;   /* Ensure it doesn't take up space */
}


a{
    text-decoration: none;
    padding: 0px;
    margin:0px ;
    width: 85%;
    text-align: left;
    color: #85859b; 
}
.sidebar-list  {
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    padding: 5px;
    margin:5px ;
    width: 85%;
    text-align: left;
    color: #85859b;
}
.sidebar-list:hover {
    text-decoration: none;
    cursor: pointer;
    list-style: none;

    background-color: #f0f0f0;  
    border-radius: 5px;
    padding: 5px;
}
.popover-list  {
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    padding: 5px;
    margin:5px ;
    width: 100%;
    text-align: left;
    color: #85859b;
}
.popover-list:hover {
    text-decoration: none;
    cursor: pointer;
    list-style: none;

    background-color: #f0f0f0;  
    border-radius: 5px;
    padding: 5px;
}
.popover-list-ul {
    margin-bottom: 0px;
    padding-left: 0px;
}


.sidebar-list-but {
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    padding: 5px;
    margin:5px ;
    width: 85%;
    text-align: left;
    color: #85859b;
}
.sidebar-list-but:hover {
    text-decoration: none;
    cursor: pointer;
    list-style: none;

    background-color: #f0f0f0;  
    border-radius: 5px;
    padding: 5px;
}

.hide-show {
    display: none; /* Initially hide the submenu */
}
.bottom-div {
    
    width: 90%;
    padding-left: 25px;
    height: 20vh;
    display: flex;
}
.bottom-div div {
    
    border: solid;
    border-width : 0px;
    background: linear-gradient(to right, #85859B, #4B4B76);
    border-radius: 20px;
    flex-grow: 1;
    display: flex;
    padding: 10px;
    justify-content: evenly;
    align-items: center;
}
.bottom-div div h5 {
    font-size: 1rem;
    color: #fff;
}
.bottom-div div a {
    font-size: 1rem;
    font-weight:500 ;
    color: black;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    width: 90%;
}












.main {
    margin-left: 260px; /* Adjust to prevent overlap with sidenav */
    margin-top: 0px;
    padding: 20px; /* Padding for content */
    background-color: #f5f7fa;
    height: 100%;
    z-index: 0;
    font-weight: 100;
    transition: margin-left 0.3s ease;
}
.container-fluid {
    height: 80vh;
}





/*media query  for mobiles */
@media (max-width: 576px) {
    
}









/* Tablet Styles (between 576px and 768px) */
@media (min-width: 577px) and (max-width: 768px) {
    
}










/* Desktop Styles (above 768px) */
@media (min-width: 769px) {
    
}