@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');





/* Global scrollbar styles for WebKit browsers (Chrome, Safari) */
*::-webkit-scrollbar {
    width: 0px; /* Set the width of the scrollbar */
    height: 0px; /* Set the height for horizontal scrollbar */
}

*::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 0px; /* Rounded corners for the scrollbar thumb */
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color when hovering over the scrollbar thumb */
}

*::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
}

/* Global scrollbar styles for Firefox */
* {
    scrollbar-width: thin; /* Set scrollbar to thin */
    scrollbar-color: #888 transparent; /* Set color of scrollbar thumb and track */
}

/* Change scrollbar color on hover */
*:hover {
    scrollbar-color: #555 transparent; /* Darker thumb color when hovering */
}

.body {
    font-family: 'poppins',sans-serif;
    color: #85859b;
    font-size: 1rem;
    font-weight: 300;
    background-color:#F5F7F9 ;

}
.body-dark {
    font-family: 'poppins',sans-serif;
    background-color: #0F111A;
    color: #9DA4B4;
    font-size: 1rem;
    font-weight: 300;
}
.header {
    background: transparent;
    height: 10vh;
    width: 100%;
    /*border-bottom: solid;
    border-width: 1px;*/
    border-color: #9fafc9;
    display: flex;                      /* Set up flexbox for the header */
    align-items: center;                /* Vertically center items */
    justify-content: space-between;      /* Space out header elements */
    padding: 10px; 
}
.header-dark {
    background-color: #0F111A;
    height: 10vh;
    width: 100%;
    border-bottom: solid;
    border-width: 1px;
    border-color: #9fafc9;
    display: flex;                      /* Set up flexbox for the header */
    align-items: center;                /* Vertically center items */
    justify-content: space-between;      /* Space out header elements */
    padding: 10px; 
}
nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 100%;
}
.nav-1 {
    font-size: 4vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    float: left;

}

.nav-1 h1 {
    font-size: 4vh;
    font-weight: 300;
    color: #85859b;
}
.nav-1 button span {
    font-size: 3vh;
    font-weight:300 ;
}
.tabs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 30vw;

}
.tabs a {
    position: relative; /* Add this property to create space for the vertical lines */
}
.tabs a:not(:last-child):after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-left: 1px solid #ccc; /* Add a vertical line */
    width: 2px; /* Adjust this value for the line width */
}
.tabs h4 {
    font-size: 2.5vh;
    font-weight: 300;
    text-align: center;
}



#fl-l {
    float: left;
}
#fl-r {
    float: right;
}
#icon {
    font-size: 1.5rem;
    color: #85859b;
    padding: 15px;
    margin: 10px;
    margin-top: 15px;
}
.btn {
    border: none;!important
    

    margin: 5px;
    padding: 5px;

}
.btn span {
    border: solid;
    padding: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 8px;
    border-width: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.btn-pro {
    border: none;
    margin:0px;
    padding: 10px;
    top: 15px;
    background-color: #85859b;
    display: flex;
    align-items: right;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.search-bar {
    border: solid;
    border-width: 0px;
    border-color: #85859b;
    width: 100%;
    margin: 0px;
    padding: 10px;
    padding-left: 2vw ;
    font-size: 2vh;
    border-radius: 90px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.search-bar:hover {
    border-width: 1px;
}







ion-icon {
    font-size: 3vh;
    font-weight: 300;
}


.sidenav {
    height: 90%;
    width: 260px; /* Set width of the sidebar */
    position: fixed; /* Make it fixed */
    z-index: 1; /* Sit on top of other content */
    background-color: transparent; /* Background color */
    padding-top: 20px; /* Space at the top */
    /*border-right: solid;
    border-color: #85859b;
    border-width: 1px;*/
    overflow-y: auto;
    transition: right 0.3 ease;
    opacity: 1;          /* Fully visible */
    visibility: visible;  /* Ensure it is visible */
    transition: width 0.3s ease, opacity 0.3s ease; 
    
}
.sidenav.hidden {
    width: 0;            /* Collapse the width */
    opacity: 0;          /* Fade out */
    visibility: hidden;   /* Ensure it doesn't take up space */
}


/* Adjust on hover */
.sidenav:hover {
    scrollbar-color: #555 transparent; /* Darker thumb color when hovering over the sidebar */
}


.nav-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-3 button  i {
    font-size: 3.5vh;
}


a{
    text-decoration: none;
    padding: 0px;
    margin:0px ;
    width: 85%;
    text-align: left;
    color: #85859b; 
}
.sidebar-list  {
    font-size: 2vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    padding: 1vh;
    margin:1vh ;
    width: 85%;
    text-align: left;
    color: #85859b;
}
.sidebar-list:hover {
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    /*background: linear-gradient(to right, rgba(210,255,82,1) 0%,rgba(145,232,66,1) 94%);*/
    background-color: #f0f0f0;  
    border-radius: 5px;
    padding: 1vh;
}
.popover-list  {
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    list-style: none;
    padding: 5px;
    margin:5px ;
    width: 100%;
    text-align: left;
    color: #85859b;
}
.popover-list:hover {
    text-decoration: none;
    cursor: pointer;
    list-style: none;

    background-color: #f0f0f0;  
    border-radius: 5px;
    padding: 5px;
}
.popover-list-ul {
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
    padding-left: 0px;
}


.sidebar-list-but {
    font-size: 2vh;
    text-decoration: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    list-style: none;
    padding: 1vh;
    margin:1vh ;
    width: 85%;
    text-align: left;
    color: #85859b;
}
.sidebar-list-but:hover {
    text-decoration: none;
    cursor: pointer;
    list-style: none;

    background-color: #f0f0f0;  
    border-radius: 5px;
    padding: 1vh;
}

.hide-show {
    display: none; /* Initially hide the submenu */
}
.bottom-div {
    
    width: 90%;
    padding-left: 2vw;
    height: 15vh;
    display: flex;
    /*box-shadow: 0 2px 4px rgba(1, 1, 1, 0.6);*/
}
.bottom-div div {
    
    border: solid;
    border-width : 0px;
    background: linear-gradient(to right, #85859B, #4B4B76);
    border-radius: 20px;
    flex-grow: 1;
    display: flex;
    padding: 2vh;
    padding-bottom: 2vh;
    justify-content: evenly;
    align-items: center;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 1);
}
.bottom-div div h5 {
    font-size: 2vh;
    color: #fff;
}
.bottom-div div a {
    font-size: 2vh;
    font-weight:500 ;
    color: black;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    width: 90%;
    box-shadow: 0 4px 4px rgba(255, 255, 255, 0.6);
}







.main {
    margin-left: 0px; /* Adjust to prevent overlap with sidenav */
    margin-top: 0px;
    padding: 20px; /* Padding for content */
    background: linear-gradient(to right,#f5f7fa,#d6d7d8);
    height: 90vh;

    z-index: 0;
    font-weight: 100;
    transition: margin-left 0.3s ease;
}
.main-dark {
    margin-left: 260px; /* Adjust to prevent overlap with sidenav */
    margin-top: 0px;
    padding: 20px; /* Padding for content */
    background: linear-gradient(to right ,#141824,#121C32);/*#141824;*/
    height: 100%;
    z-index: 0;
    font-weight: 100;
    transition: margin-left 0.3s ease;
}
.container-fluid {
    height: 80vh;
}










/*media query  for mobiles */
@media (max-width: 576px) {
    .tabs {
        display: none;
    }
    .header{
        height: 7vh;
    }
    .nav-1 h1 {
        display: none;
    }
    .nav-1 {
        width: 15vw;
    }
}









/* Tablet Styles (between 576px and 768px) */
@media (min-width: 577px) and (max-width: 900px) {
    .tabs {
        display: none;
    }
    .header {
        height: 8vh;
    }

}










/* Desktop Styles (above 768px) */
@media (min-width: 901px) {
    
}